.myYellow {
    background-color: #FFF0C5 !important;
}

#fbLogo,
#fbgif {
    width: 100px;
    height: auto;
    margin: 1rem;
}

.static {
    position: absolute;
    background: white;
    /* transition: 2s; */
}

.static:hover {
    opacity: 0;
}

.navOptions {
    display: inline-block;
    transition: transform .3s;
    font-family: obviously, sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    font-style: normal;
    color: black !important;
    height: 100px;
    line-height: 100px;
}

.navOptions:hover {
    transform: scale(1.1);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../imgs/navicon.png");
    background-size: 37px;
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}