.myYellow {
    background-color: #FFF0C5 !important;
}

#fbLogo,
#fbgif {
    width: 100px;
    height: auto;
    margin: 1rem;
}

.static {
    position: absolute;
    background: white;
    /* transition: 2s; */
}

.static:hover {
    opacity: 0;
}

.navOptions {
    display: inline-block;
    transition: transform .3s;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 25px;
    font-style: Bold;
    color: black;
    height: 100px;
    line-height: 100px;
}

.navOptions:hover {
    transform: scale(1.1);
}