.footer {
    background: rgba(255, 240, 197, 0) !important;
    /* opacity: 0; */
    padding: 2rem !important;
    margin-top: auto;
    /* padding: 100px; */
    bottom: 0;
    width: 100%;
}

.socials {
    display: inline-block;
    transition: transform .3s;
    width: 25px;
    height: auto;
}

.socials:hover {
    transform: scale(1.2);
}