.footer {
    background: #FFF0C5 !important;
}


.socials {
    display: inline-block;
    transition: transform .3s;
    width:25px;
    height:auto;
}

.socials:hover {
    transform: scale(1.2);
}
