html, #navbar, #fbLogo, #navBarResp{
  background: #003699 !important;
}
/* //#FFF0C5 */

/* body {
  cursor: url('components/imgs/cursor.png'), default;

} */
.App {
  background-color: #003699;
  text-align: center;
}

/* #mainShape {
  width: 350px;
  height: auto;
} */

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

